.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #ffff00;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #575757;
  border-bottom: 1px solid #ffff00;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #FF6700;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #FF7518 !important;
  color: #ffffff;
}