/* The container */
.container {
  display: inline-block;
  position: relative;
  padding-left: 5%;
  margin-bottom: 1%;
  cursor: pointer;
  font-size: 110%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: -5%;
  height: 90%;
  width: 20%;
  background-color: #808080;
  border-radius: 100%;
}

/* On mouse-over, add an orange background color */
.container:hover input ~ .checkmark {
  background-color: #FF7518;
}

/* When the radio button is checked, add a yellow background */
.container input:checked ~ .checkmark {
  background-color: #fff700;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 25%;
	left: 32%;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: #000000;
}